body{
    margin:0;
    background:#e8dede;
    font-family:Georgia, serif;
    overflow:hidden;
    text-align:center;
}

.card{
    background:white;
    width:90%;
    max-width:400px;
    margin:30px auto;
    padding:20px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.branch{
    position:absolute;
    bottom:0;
    background:#5a3825;
    transform-origin:bottom;
}

.leaf{
    position:absolute;
    background:red;
    transform:rotate(-45deg);
    border-radius:50% 50% 0 50%;
    box-shadow:0 0 10px rgba(255,0,0,0.5);
}

.hidden{
    display:none;
}

.question{
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%,-60%);
}

.question button{
    padding:10px 20px;
    margin:10px;
    font-size:18px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.question button:hover{
    transform:scale(1.1);
}

#yes{
    background:#ff4d6d;
    color:white;
	transform: scale(1.2);
}

#no{
    background:#aaa;
    color:white;
}

.letter{
    position:absolute;
    top:85%;
    left:50%;
    transform:translate(-50%,-50%);
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    width:85%;
    max-width:700px;
    animation:fadeIn 0.6s ease-out;
}

@keyframes fadeIn{
    from{opacity:0; transform:translate(-50%,-60%);}
    to{opacity:1; transform:translate(-50%,-50%);}
}


